In [95]:
# Representing the in 10x2 Dimension
import numpy as np
Day_number=np.arange(1,11)
steps_walked=[6011,3025,9590,8092,2100,300,7000,9080,10100,11089]
arr=np.array([Day_number,steps_walked])
arr=arr.T
print(arr)
new=arr[:,1]+2000
arr[:,1]=new
print()
print(arr)
la=arr[:,1]>9000
la
new_=arr[la]
new_

[[    1  6011]
 [    2  3025]
 [    3  9590]
 [    4  8092]
 [    5  2100]
 [    6   300]
 [    7  7000]
 [    8  9080]
 [    9 10100]
 [   10 11089]]

[[    1  8011]
 [    2  5025]
 [    3 11590]
 [    4 10092]
 [    5  4100]
 [    6  2300]
 [    7  9000]
 [    8 11080]
 [    9 12100]
 [   10 13089]]

array([[    3, 11590],
       [    4, 10092],
       [    8, 11080],
       [    9, 12100],
       [   10, 13089]])

In [109]:
import pandas as pd
lee={'Days':[1,2,3,4,5,6,7,8,9,10],
    'Steps_walked':[6011,3025,9590,8092,2100,300,7000,9080,10100,11089]}
lee_=pd.DataFrame(lee)
print(lee_,'\n')
print("...The data after adding 2000...")
ste=lee_.Steps_walked.add(2000)
print(ste,'\n')
gre=lee_.Steps_walked>9000
print('...The steps greater than 9000...')
print(ste[gre])

   Days  Steps_walked
0     1          6011
1     2          3025
2     3          9590
3     4          8092
4     5          2100
5     6           300
6     7          7000
7     8          9080
8     9         10100
9    10         11089

...The data after adding 2000...
0     8011
1     5025
2    11590
3    10092
4     4100
5     2300
6     9000
7    11080
8    12100
9    13089
Name: Steps_walked, dtype: int64

...The steps greater than 9000...
2    11590
7    11080
8    12100
9    13089
Name: Steps_walked, dtype: int64

In [110]:
import pandas as pd
import random
for i in range(10):
    print(random.randint(100,10000))

1992
7794
2743
1065
4595
1656
2549
9685
3810
9065

In [151]:
import random
import pandas as pd
lee={'Days':[1,2,3,4,5,6,7,8,9,10],
    'Steps_walked':[6011,3025,9590,8092,2100,300,7000,9080,10100,11089]}
lee_=pd.DataFrame(lee)
print(lee_,'\n')
print("...The data after adding 2000...")
ste=lee_.Steps_walked.add(2000)
print(ste,'\n')
gre=lee_.Steps_walked>9000
print('...The steps greater than 9000...')
print(ste[gre])

   Days  Steps_walked
0     1          6011
1     2          3025
2     3          9590
3     4          8092
4     5          2100
5     6           300
6     7          7000
7     8          9080
8     9         10100
9    10         11089

...The data after adding 2000...
0     8011
1     5025
2    11590
3    10092
4     4100
5     2300
6     9000
7    11080
8    12100
9    13089
Name: Steps_walked, dtype: int64

...The steps greater than 9000...
2    11590
7    11080
8    12100
9    13089
Name: Steps_walked, dtype: int64

## calculating aggregate function

In [169]:
import pandas as pd
marks={'Chemistry':[67,90,66,32,72,45,60,98],
      'Physics':[45,92,72,92,72,34,72,45]}
marks_=pd.DataFrame(marks,index=['subodh','Ram','Abdul','JOhn','Nandini','Zoya','Shivam','James'])
print(marks_,'\n')
print(marks_.sum(),'\n')
print('Chemistry Average:',marks_.Chemistry.mean(),'\n')
print(marks_.mean())

         Chemistry  Physics
subodh          67       45
Ram             90       92
Abdul           66       72
JOhn            32       92
Nandini         72       72
Zoya            45       34
Shivam          60       72
James           98       45

Chemistry    530
Physics      524
dtype: int64

Chemistry Average: 66.25

Chemistry    66.25
Physics      65.50
dtype: float64

### Melt Function

In [181]:
import pandas as pd
df=pd.DataFrame(data={
  'Day':['MON','TUE','WED','THU'],
'Google':[1129,1132,1186,1299],
    'Apple':[191,196,182,190],
    'Samsung':[192,195,180,169]   
})
print(df,'\n')
# By using melt function it can be reshaped 
reshape_df=df.melt(id_vars=['Day'])# id_vars is the column where we donot want to change anything..
print("..After reshaping..")
reshape_df

   Day  Google  Apple  Samsung
0  MON    1129    191      192
1  TUE    1132    196      195
2  WED    1186    182      180
3  THU    1299    190      169

..After reshaping..

    Day variable  value
0   MON   Google   1129
1   TUE   Google   1132
2   WED   Google   1186
3   THU   Google   1299
4   MON    Apple    191
5   TUE    Apple    196
6   WED    Apple    182
7   THU    Apple    190
8   MON  Samsung    192
9   TUE  Samsung    195
10  WED  Samsung    180
11  THU  Samsung    169

### Filter function

In [194]:
ls=[i for i in range(50)]
evenlist=list(filter(lambda x:True if x%2==0 else False,ls))
oddlist=list(filter(lambda x:True if x%2!=0 else False,ls))
print('Evenlist')
print(evenlist,'\n')
print('odd list')
print(oddlist)

Evenlist
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

odd list
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [200]:
def oddeven(x):
    if x%2==0:
        return True
    else:
        return False
ls_=[j for j in range(50)]
evels=list(filter(oddeven,ls_))
print("Even Numbers..")
print(evels)

Even Numbers..
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

### Auto-MPG

In [20]:

import pandas as pd
df=pd.read_csv('auto-mpg.csv')
df.head()
# Engineer want to know MPG>29,Horsepower<93.5,weight<2500

en=df.loc[(df['mpg']>29)& (df['weight']<2500)]
print(en)
# Engineer want to know displacement>262,Horsepower>126,weight in range[2800,3600]
en_=df.loc[(df['displacement']>262)& (df['weight']>=2800)& (df['weight']<=3600)]
print(en_)

      mpg  cylinders  displacement horsepower  weight  acceleration  \
51   30.0          4          79.0         70    2074          19.5
52   30.0          4          88.0         76    2065          14.5
53   31.0          4          71.0         65    1773          19.0
54   35.0          4          72.0         69    1613          18.0
129  31.0          4          79.0         67    1950          19.0
..    ...        ...           ...        ...     ...           ...
384  32.0          4          91.0         67    1965          15.7
385  38.0          4          91.0         67    1995          16.2
391  36.0          4         135.0         84    2370          13.0
394  44.0          4          97.0         52    2130          24.6
395  32.0          4         135.0         84    2295          11.6

     model year  origin             car name
51           71       2          peugeot 304
52           71       2            fiat 124b
53           71       3  toyota corolla 1200
54           71       3          datsun 1200
129          74       3          datsun b210
..          ...     ...                  ...
384          82       3   honda civic (auto)
385          82       3        datsun 310 gx
391          82       1    dodge charger 2.2
394          82       2            vw pickup
395          82       1        dodge rampage

[83 rows x 9 columns]
      mpg  cylinders  displacement horsepower  weight  acceleration  \
0    18.0          8         307.0        130    3504          12.0
2    18.0          8         318.0        150    3436          11.0
3    16.0          8         304.0        150    3433          12.0
4    17.0          8         302.0        140    3449          10.5
10   15.0          8         383.0        170    3563          10.0
13   14.0          8         455.0        225    3086          10.0
121  15.0          8         318.0        150    3399          11.0
166  13.0          8         302.0        129    3169          12.0
251  20.2          8         302.0        139    3570          12.8
262  19.2          8         305.0        145    3425          13.2
264  18.1          8         302.0        139    3205          11.2

     model year  origin                      car name
0            70       1     chevrolet chevelle malibu
2            70       1            plymouth satellite
3            70       1                 amc rebel sst
4            70       1                   ford torino
10           70       1           dodge challenger se
13           70       1       buick estate wagon (sw)
121          73       1             dodge dart custom
166          75       1               ford mustang ii
251          78       1          mercury monarch ghia
262          78       1  chevrolet monte carlo landau
264          78       1                   ford futura

### Rainfall dataset

In [34]:
df=pd.read_csv('rainfall.csv')
print(df)
# The disrict that gets highest annual rainfall
sortdf=df.sort_values(by='ANNUAL',ascending=False)
highest=sortdf.iloc[0,1]
print("District with highest rainfall:",highest)
# top 5 district with highest annual rainfall
print(sortdf.head(5),'\n')
# dropping the months
drdf=df.drop(['Jan-Feb','Mar-May','Jun-Sep','Oct-Dec'],axis=1)
print('..Dropped data..')
print(drdf)

                   STATE_UT_NAME        DISTRICT    JAN   FEB    MAR    APR  \
0    ANDAMAN And NICOBAR ISLANDS         NICOBAR  107.3  57.9   65.2  117.0
1    ANDAMAN And NICOBAR ISLANDS   SOUTH ANDAMAN   43.7  26.0   18.6   90.5
2    ANDAMAN And NICOBAR ISLANDS   N & M ANDAMAN   32.7  15.9    8.6   53.4
3              ARUNACHAL PRADESH           LOHIT   42.2  80.8  176.4  358.5
4              ARUNACHAL PRADESH      EAST SIANG   33.3  79.5  105.9  216.5
..                           ...             ...    ...   ...    ...    ...
636                       KERALA          IDUKKI   13.4  22.1   43.6  150.4
637                       KERALA        KASARGOD    2.3   1.0    8.4   46.9
638                       KERALA  PATHANAMTHITTA   19.8  45.2   73.9  184.9
639                       KERALA         WAYANAD    4.8   8.3   17.5   83.3
640                  LAKSHADWEEP     LAKSHADWEEP   20.8  14.7   11.8   48.9

       MAY    JUN     JUL    AUG    SEP    OCT    NOV    DEC  ANNUAL  Jan-Feb  \
0    358.5  295.5   285.0  271.9  354.8  326.0  315.2  250.9  2805.2    165.2
1    374.4  457.2   421.3  423.1  455.6  301.2  275.8  128.3  3015.7     69.7
2    343.6  503.3   465.4  460.9  454.8  276.1  198.6  100.0  2913.3     48.6
3    306.4  447.0   660.1  427.8  313.6  167.1   34.1   29.8  3043.8    123.0
4    323.0  738.3   990.9  711.2  568.0  206.9   29.5   31.7  4034.7    112.8
..     ...    ...     ...    ...    ...    ...    ...    ...     ...      ...
636  232.6  651.6   788.9  527.3  308.4  343.2  172.9   48.1  3302.5     35.5
637  217.6  999.6  1108.5  636.3  263.1  234.9   84.6   18.4  3621.6      3.3
638  294.7  556.9   539.9  352.7  266.2  359.4  213.5   51.3  2958.4     65.0
639  174.6  698.1  1110.4  592.9  230.7  213.1   93.6   25.8  3253.1     13.1
640  171.7  330.2   287.7  217.5  163.1  157.1  117.7   58.8  1600.0     35.5

     Mar-May  Jun-Sep  Oct-Dec
0      540.7   1207.2    892.1
1      483.5   1757.2    705.3
2      405.6   1884.4    574.7
3      841.3   1848.5    231.0
4      645.4   3008.4    268.1
..       ...      ...      ...
636    426.6   2276.2    564.2
637    272.9   3007.5    337.9
638    553.5   1715.7    624.2
639    275.4   2632.1    332.5
640    232.4    998.5    333.6

[641 rows x 19 columns]
District with highest rainfall: TAMENGLONG
         STATE_UT_NAME       DISTRICT   JAN    FEB    MAR    APR    MAY  \
55             MANIPUR     TAMENGLONG  48.5  229.6  224.5  431.5  539.9
47           MEGHALAYA  JAINTIA HILLS  33.8   44.1  115.1  282.3  598.8
46           MEGHALAYA  EAST KHASI HI  15.4   24.1  129.7  312.5  733.7
12   ARUNACHAL PRADESH    UPPER SIANG  74.3  176.7  362.6  397.5  408.7
598          KARNATAKA          UDUPI   1.4    0.4    4.1   29.4  193.8

        JUN     JUL     AUG    SEP    OCT    NOV   DEC  ANNUAL  Jan-Feb  \
55   1158.7  1820.9  1522.1  726.3  376.1  144.0   7.2  7229.3    278.1
47   1316.1  1591.3   933.8  826.3  517.7  110.9   9.7  6379.9     77.9
46   1476.2  1518.4  1019.4  607.8  277.9   40.3  10.7  6166.1     39.5
12    801.9   653.0   417.9  686.0  264.9   86.9  71.7  4402.1    251.0
598  1081.0  1371.6   902.2  404.9  223.8   74.6  18.8  4306.0      1.8

     Mar-May  Jun-Sep  Oct-Dec
55    1195.9   5228.0    527.3
47     996.2   4667.5    638.3
46    1175.9   4621.8    328.9
12    1168.8   2558.8    423.5
598    227.3   3759.7    317.2

..Dropped data..
                   STATE_UT_NAME        DISTRICT    JAN   FEB    MAR    APR  \
0    ANDAMAN And NICOBAR ISLANDS         NICOBAR  107.3  57.9   65.2  117.0
1    ANDAMAN And NICOBAR ISLANDS   SOUTH ANDAMAN   43.7  26.0   18.6   90.5
2    ANDAMAN And NICOBAR ISLANDS   N & M ANDAMAN   32.7  15.9    8.6   53.4
3              ARUNACHAL PRADESH           LOHIT   42.2  80.8  176.4  358.5
4              ARUNACHAL PRADESH      EAST SIANG   33.3  79.5  105.9  216.5
..                           ...             ...    ...   ...    ...    ...
636                       KERALA          IDUKKI   13.4  22.1   43.6  150.4
637                       KERALA        KASARGOD    2.3   1.0    8.4   46.9
638                       KERALA  PATHANAMTHITTA   19.8  45.2   73.9  184.9
639                       KERALA         WAYANAD    4.8   8.3   17.5   83.3
640                  LAKSHADWEEP     LAKSHADWEEP   20.8  14.7   11.8   48.9

       MAY    JUN     JUL    AUG    SEP    OCT    NOV    DEC  ANNUAL
0    358.5  295.5   285.0  271.9  354.8  326.0  315.2  250.9  2805.2
1    374.4  457.2   421.3  423.1  455.6  301.2  275.8  128.3  3015.7
2    343.6  503.3   465.4  460.9  454.8  276.1  198.6  100.0  2913.3
3    306.4  447.0   660.1  427.8  313.6  167.1   34.1   29.8  3043.8
4    323.0  738.3   990.9  711.2  568.0  206.9   29.5   31.7  4034.7
..     ...    ...     ...    ...    ...    ...    ...    ...     ...
636  232.6  651.6   788.9  527.3  308.4  343.2  172.9   48.1  3302.5
637  217.6  999.6  1108.5  636.3  263.1  234.9   84.6   18.4  3621.6
638  294.7  556.9   539.9  352.7  266.2  359.4  213.5   51.3  2958.4
639  174.6  698.1  1110.4  592.9  230.7  213.1   93.6   25.8  3253.1
640  171.7  330.2   287.7  217.5  163.1  157.1  117.7   58.8  1600.0

[641 rows x 15 columns]

### houseprice prediction

In [6]:
import pandas as pd
df=pd.read_csv('homeprices.csv')
print(df)
inp=df.drop('price','columns')
out=df.drop('area','columns')
print()
print('Input data')
print(inp,'\n')
print('Output data')
print(out)
import sklearn
from sklearn import linear_model
model=linear_model.LinearRegression()
model.fit(inp,out)
res=model.predict([[5000]])
print('..Predicted value..')
print(res)
acc=model.score(inp,out)*100
print("Accuracy:",acc)

   area   price
0  2600  550000
1  3000  565000
2  3200  610000
3  3600  680000
4  4000  725000

<ipython-input-6-273eb9c7c304>:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  inp=df.drop('price','columns')
<ipython-input-6-273eb9c7c304>:5: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  out=df.drop('area','columns')

Input data
   area
0  2600
1  3000
2  3200
3  3600
4  4000

Output data
    price
0  550000
1  565000
2  610000
3  680000
4  725000

/lib/python3.11/site-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

..Predicted value..
[[859554.79452055]]
Accuracy: 95.84301138199486

### Multilinear regression

In [19]:
df=pd.read_csv('homeprices_Mul.csv')
print(df,'\n')
medval=df.bedrooms.median()
print('Median:',medval)
df.bedrooms=df.bedrooms.fillna(medval)
print(df)
# separating input and output
inp=df.drop('price','columns')
out=df.drop(['area','bedrooms','age'],'columns')
print()
print('Input data')
print(inp,'\n')
print('Output data')
print(out)
from sklearn import linear_model
model=linear_model.LinearRegression()
model.fit(inp,out)
res=model.predict([[3000,2,18]])
print("Predicted result:",res)
acc=model.score(inp,out)*100
print("Predicted accuray:",acc)

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

Median: 4.0
   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

<ipython-input-19-5505ca1dc2de>:8: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  inp=df.drop('price','columns')
<ipython-input-19-5505ca1dc2de>:9: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  out=df.drop(['area','bedrooms','age'],'columns')

Input data
   area  bedrooms  age
0  2600       3.0   20
1  3000       4.0   15
2  3200       4.0   18
3  3600       3.0   30
4  4000       5.0    8
5  4100       6.0    8

Output data
    price
0  550000
1  565000
2  610000
3  595000
4  760000
5  810000

/lib/python3.11/site-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

Predicted result: [[546117.16549229]]
Predicted accuray: 95.50196399325819