### Heart attack prediction

In [52]:
import pandas as pd
path="D:\\Internship_project_Dataset\\Heart attack prediction\\heart.csv"
data=pd.read_csv(path)
print(data)
print(data.info())
inp=data.drop('output','columns')
out=data['output']
print('..INPUT DATA..')
print(inp,'\n')
print("..OUTPUT DATA..")
print(out,'\n')
import sklearn
from sklearn.model_selection import train_test_split
x_tr,x_te,y_tr,y_te=train_test_split(inp,out,train_size=0.8)
print('X_train')
print(x_tr,'\n')
print("X_test")
print(x_te,'\n')
print('Y_train')
print(y_tr,'\n')
print('y_test')
print(y_te,'\n')

from sklearn.linear_model import LogisticRegression
model=LogisticRegression()
model.fit(x_tr,y_tr)
res=model.predict(x_te)
print('...Predicted_Result...')
print(res,'\n')
print('...Y_test Comparision...')
print(y_te,'\n')
from sklearn.metrics import accuracy_score
acc=accuracy_score(res,y_te)*100
print("Accuracy:",str(acc),'\n')
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(res,y_te)
print('...Using confusion matrix for Accuracy_Prediction...')
print(cm)

     age  sex  cp  trtbps  chol  fbs  restecg  thalachh  exng  oldpeak  slp  \
0     63    1   3     145   233    1        0       150     0      2.3    0
1     37    1   2     130   250    0        1       187     0      3.5    0
2     41    0   1     130   204    0        0       172     0      1.4    2
3     56    1   1     120   236    0        1       178     0      0.8    2
4     57    0   0     120   354    0        1       163     1      0.6    2
..   ...  ...  ..     ...   ...  ...      ...       ...   ...      ...  ...
298   57    0   0     140   241    0        1       123     1      0.2    1
299   45    1   3     110   264    0        1       132     0      1.2    1
300   68    1   0     144   193    1        1       141     0      3.4    1
301   57    1   0     130   131    0        1       115     1      1.2    1
302   57    0   1     130   236    0        0       174     0      0.0    1

     caa  thall  output
0      0      1       1
1      0      2       1
2      0      2       1
3      0      2       1
4      0      2       1
..   ...    ...     ...
298    0      3       0
299    0      3       0
300    2      3       0
301    1      3       0
302    1      2       0

[303 rows x 14 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trtbps    303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalachh  303 non-null    int64
 8   exng      303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slp       303 non-null    int64
 11  caa       303 non-null    int64
 12  thall     303 non-null    int64
 13  output    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB
None
..INPUT DATA..
     age  sex  cp  trtbps  chol  fbs  restecg  thalachh  exng  oldpeak  slp  \
0     63    1   3     145   233    1        0       150     0      2.3    0
1     37    1   2     130   250    0        1       187     0      3.5    0
2     41    0   1     130   204    0        0       172     0      1.4    2
3     56    1   1     120   236    0        1       178     0      0.8    2
4     57    0   0     120   354    0        1       163     1      0.6    2
..   ...  ...  ..     ...   ...  ...      ...       ...   ...      ...  ...
298   57    0   0     140   241    0        1       123     1      0.2    1
299   45    1   3     110   264    0        1       132     0      1.2    1
300   68    1   0     144   193    1        1       141     0      3.4    1
301   57    1   0     130   131    0        1       115     1      1.2    1
302   57    0   1     130   236    0        0       174     0      0.0    1

     caa  thall
0      0      1
1      0      2
2      0      2
3      0      2
4      0      2
..   ...    ...
298    0      3
299    0      3
300    2      3
301    1      3
302    1      2

[303 rows x 13 columns]

..OUTPUT DATA..
0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: output, Length: 303, dtype: int64

X_train
     age  sex  cp  trtbps  chol  fbs  restecg  thalachh  exng  oldpeak  slp  \
140   51    0   2     120   295    0        0       157     0      0.6    2
124   39    0   2      94   199    0        1       179     0      0.0    2
110   64    0   0     180   325    0        1       154     1      0.0    2
253   67    1   0     100   299    0        0       125     1      0.9    1
92    52    1   2     138   223    0        1       169     0      0.0    2
..   ...  ...  ..     ...   ...  ...      ...       ...   ...      ...  ...
222   65    1   3     138   282    1        0       174     0      1.4    1
277   57    1   1     124   261    0        1       141     0      0.3    2
143   67    0   0     106   223    0        1       142     0      0.3    2
290   61    1   0     148   203    0        1       161     0      0.0    2
254   59    1   3     160   273    0        0       125     0      0.0    2

     caa  thall
140    0      2
124    0      2
110    0      2
253    2      2
92     4      2
..   ...    ...
222    1      2
277    0      3
143    2      2
290    1      3
254    0      2

[242 rows x 13 columns]

X_test
     age  sex  cp  trtbps  chol  fbs  restecg  thalachh  exng  oldpeak  slp  \
63    41    1   1     135   203    0        1       132     0      0.0    1
279   61    1   0     138   166    0        0       125     1      3.6    1
70    54    1   2     120   258    0        0       147     0      0.4    1
248   54    1   1     192   283    0        0       195     0      0.0    2
242   64    1   0     145   212    0        0       132     0      2.0    1
..   ...  ...  ..     ...   ...  ...      ...       ...   ...      ...  ...
99    53    1   2     130   246    1        0       173     0      0.0    2
41    48    1   1     130   245    0        0       180     0      0.2    1
259   38    1   3     120   231    0        1       182     1      3.8    1
207   60    0   0     150   258    0        0       157     0      2.6    1
17    66    0   3     150   226    0        1       114     0      2.6    0

     caa  thall
63     0      1
279    1      2
70     0      3
248    1      3
242    2      1
..   ...    ...
99     3      2
41     0      2
259    0      3
207    2      3
17     0      2

[61 rows x 13 columns]

Y_train
140    1
124    1
110    1
253    0
92     1
      ..
222    0
277    0
143    1
290    0
254    0
Name: output, Length: 242, dtype: int64

y_test
63     1
279    0
70     1
248    0
242    0
      ..
99     1
41     1
259    0
207    0
17     1
Name: output, Length: 61, dtype: int64

...Predicted_Result...
[1 0 1 1 0 1 1 1 1 1 1 0 1 1 0 1 1 1 1 0 1 1 0 0 0 0 0 0 0 1 0 1 1 1 0 1 1
 1 1 1 1 1 1 0 1 1 0 0 0 1 1 0 0 1 0 1 1 1 1 0 1]

...Y_test Comparision...
63     1
279    0
70     1
248    0
242    0
      ..
99     1
41     1
259    0
207    0
17     1
Name: output, Length: 61, dtype: int64

Accuracy: 83.60655737704919

...Using confusion matrix for Accuracy_Prediction...
[[20  2]
 [ 8 31]]

C:\Users\chand\AppData\Local\Temp\ipykernel_11824\1447952359.py:6: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  inp=data.drop('output','columns')
D:\Anaconda\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

### Stroke Prediction

In [48]:
import pandas as pd
path="D:\\Internship_project_Dataset\\Stroke Predection\\healthcare-dataset-stroke-data.csv"
data=pd.read_csv(path)
print(data)
print(data.info())
data=data.fillna(method='ffill')
print(data)

import sklearn
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
data.gender=le.fit_transform(data.gender)
data.smoking_status=le.fit_transform(data.smoking_status)
data.ever_married=le.fit_transform(data.ever_married)
data.work_type=le.fit_transform(data.work_type)
data.Residence_type=le.fit_transform(data.Residence_type)
print(data)
print(data.info(),'\n')                       
#separating input and output
inp=data.drop(['stroke','id'],'columns')
out=data['stroke']
print("...INPUT DATA...")
print(inp,'\n')
print('...OUTPUT DATA...')
print(out,'\n')

#import sklearn
from sklearn.model_selection import train_test_split
x_tr,x_te,y_tr,y_te=train_test_split(inp,out,train_size=0.8)
print('...X_train...')
print(x_tr,'\n')
print('...X_test...')
print(x_te,'\n')
print('...Y_train...')
print(y_tr,'\n')
print('...Y_test...')
print(y_te,'\n')

from sklearn.linear_model import LogisticRegression
model=LogisticRegression()
model.fit(x_tr,y_tr)
res=model.predict(x_te)
print('...Predicted_Result...')
print(res,'\n')
print('...Y_test Comparision...')
print(y_te)
from sklearn.metrics import accuracy_score
acc=accuracy_score(res,y_te)*100
print('Predicted_Accuracy:',acc)

         id  gender   age  hypertension  heart_disease ever_married  \
0      9046    Male  67.0             0              1          Yes
1     51676  Female  61.0             0              0          Yes
2     31112    Male  80.0             0              1          Yes
3     60182  Female  49.0             0              0          Yes
4      1665  Female  79.0             1              0          Yes
...     ...     ...   ...           ...            ...          ...
5105  18234  Female  80.0             1              0          Yes
5106  44873  Female  81.0             0              0          Yes
5107  19723  Female  35.0             0              0          Yes
5108  37544    Male  51.0             0              0          Yes
5109  44679  Female  44.0             0              0          Yes

          work_type Residence_type  avg_glucose_level   bmi   smoking_status  \
0           Private          Urban             228.69  36.6  formerly smoked
1     Self-employed          Rural             202.21   NaN     never smoked
2           Private          Rural             105.92  32.5     never smoked
3           Private          Urban             171.23  34.4           smokes
4     Self-employed          Rural             174.12  24.0     never smoked
...             ...            ...                ...   ...              ...
5105        Private          Urban              83.75   NaN     never smoked
5106  Self-employed          Urban             125.20  40.0     never smoked
5107  Self-employed          Rural              82.99  30.6     never smoked
5108        Private          Rural             166.29  25.6  formerly smoked
5109       Govt_job          Urban              85.28  26.2          Unknown

      stroke
0          1
1          1
2          1
3          1
4          1
...      ...
5105       0
5106       0
5107       0
5108       0
5109       0

[5110 rows x 12 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB
None
         id  gender   age  hypertension  heart_disease ever_married  \
0      9046    Male  67.0             0              1          Yes
1     51676  Female  61.0             0              0          Yes
2     31112    Male  80.0             0              1          Yes
3     60182  Female  49.0             0              0          Yes
4      1665  Female  79.0             1              0          Yes
...     ...     ...   ...           ...            ...          ...
5105  18234  Female  80.0             1              0          Yes
5106  44873  Female  81.0             0              0          Yes
5107  19723  Female  35.0             0              0          Yes
5108  37544    Male  51.0             0              0          Yes
5109  44679  Female  44.0             0              0          Yes

          work_type Residence_type  avg_glucose_level   bmi   smoking_status  \
0           Private          Urban             228.69  36.6  formerly smoked
1     Self-employed          Rural             202.21  36.6     never smoked
2           Private          Rural             105.92  32.5     never smoked
3           Private          Urban             171.23  34.4           smokes
4     Self-employed          Rural             174.12  24.0     never smoked
...             ...            ...                ...   ...              ...
5105        Private          Urban              83.75  18.6     never smoked
5106  Self-employed          Urban             125.20  40.0     never smoked
5107  Self-employed          Rural              82.99  30.6     never smoked
5108        Private          Rural             166.29  25.6  formerly smoked
5109       Govt_job          Urban              85.28  26.2          Unknown

      stroke
0          1
1          1
2          1
3          1
4          1
...      ...
5105       0
5106       0
5107       0
5108       0
5109       0

[5110 rows x 12 columns]
         id  gender   age  hypertension  heart_disease  ever_married  \
0      9046       1  67.0             0              1             1
1     51676       0  61.0             0              0             1
2     31112       1  80.0             0              1             1
3     60182       0  49.0             0              0             1
4      1665       0  79.0             1              0             1
...     ...     ...   ...           ...            ...           ...
5105  18234       0  80.0             1              0             1
5106  44873       0  81.0             0              0             1
5107  19723       0  35.0             0              0             1
5108  37544       1  51.0             0              0             1
5109  44679       0  44.0             0              0             1

      work_type  Residence_type  avg_glucose_level   bmi  smoking_status  \
0             2               1             228.69  36.6               1
1             3               0             202.21  36.6               2
2             2               0             105.92  32.5               2
3             2               1             171.23  34.4               3
4             3               0             174.12  24.0               2
...         ...             ...                ...   ...             ...
5105          2               1              83.75  18.6               2
5106          3               1             125.20  40.0               2
5107          3               0              82.99  30.6               2
5108          2               0             166.29  25.6               1
5109          0               1              85.28  26.2               0

      stroke
0          1
1          1
2          1
3          1
4          1
...      ...
5105       0
5106       0
5107       0
5108       0
5109       0

[5110 rows x 12 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   int32
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   int32
 6   work_type          5110 non-null   int32
 7   Residence_type     5110 non-null   int32
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                5110 non-null   float64
 10  smoking_status     5110 non-null   int32
 11  stroke             5110 non-null   int64
dtypes: float64(3), int32(5), int64(4)
memory usage: 379.4 KB
None

...INPUT DATA...
      gender   age  hypertension  heart_disease  ever_married  work_type  \
0          1  67.0             0              1             1          2
1          0  61.0             0              0             1          3
2          1  80.0             0              1             1          2
3          0  49.0             0              0             1          2
4          0  79.0             1              0             1          3
...      ...   ...           ...            ...           ...        ...
5105       0  80.0             1              0             1          2
5106       0  81.0             0              0             1          3
5107       0  35.0             0              0             1          3
5108       1  51.0             0              0             1          2
5109       0  44.0             0              0             1          0

      Residence_type  avg_glucose_level   bmi  smoking_status
0                  1             228.69  36.6               1
1                  0             202.21  36.6               2
2                  0             105.92  32.5               2
3                  1             171.23  34.4               3
4                  0             174.12  24.0               2
...              ...                ...   ...             ...
5105               1              83.75  18.6               2
5106               1             125.20  40.0               2
5107               0              82.99  30.6               2
5108               0             166.29  25.6               1
5109               1              85.28  26.2               0

[5110 rows x 10 columns]

...OUTPUT DATA...
0       1
1       1
2       1
3       1
4       1
       ..
5105    0
5106    0
5107    0
5108    0
5109    0
Name: stroke, Length: 5110, dtype: int64

...X_train...
      gender    age  hypertension  heart_disease  ever_married  work_type  \
1093       0   0.32             0              0             0          4
3570       1  38.00             0              0             1          2
3120       1  22.00             0              0             0          2
832        0  33.00             0              0             1          2
522        1  40.00             0              0             1          2
...      ...    ...           ...            ...           ...        ...
2113       1  14.00             0              0             0          2
5070       0   5.00             0              0             0          4
4097       1  55.00             0              0             1          3
2803       0   8.00             0              0             0          4
4791       0  64.00             0              0             1          2

      Residence_type  avg_glucose_level   bmi  smoking_status
1093               0              55.86  16.0               0
3570               1              86.93  31.1               2
3120               0              86.53  20.8               2
832                1             121.04  31.4               0
522                0              89.77  26.2               3
...              ...                ...   ...             ...
2113               1              77.12  24.5               1
5070               1              61.98  16.8               0
4097               1              69.97  25.8               1
2803               0             104.75  17.1               0
4791               1              65.63  33.5               3

[4088 rows x 10 columns]

...X_test...
      gender   age  hypertension  heart_disease  ever_married  work_type  \
821        0  70.0             1              0             1          0
4072       0  61.0             0              0             1          2
2509       0  38.0             0              0             1          2
1952       1  52.0             0              0             1          0
1061       0  50.0             0              0             1          2
...      ...   ...           ...            ...           ...        ...
3791       0  38.0             0              0             1          0
4672       0  69.0             0              0             1          3
426        0  56.0             1              0             1          2
1897       0  19.0             0              0             0          2
2409       0  42.0             0              0             1          0

      Residence_type  avg_glucose_level   bmi  smoking_status
821                0              88.66  36.7               1
4072               0              71.40  29.2               1
2509               1              87.94  43.8               2
1952               1             223.35  27.3               1
1061               0             206.25  53.4               1
...              ...                ...   ...             ...
3791               1             102.84  22.4               2
4672               1              70.00  36.0               2
426                0             205.26  40.3               2
1897               1             131.23  21.1               0
2409               1              56.71  25.2               0

[1022 rows x 10 columns]

...Y_train...
1093    0
3570    0
3120    0
832     0
522     0
       ..
2113    0
5070    0
4097    0
2803    0
4791    0
Name: stroke, Length: 4088, dtype: int64

...Y_test...
821     0
4072    0
2509    0
1952    0
1061    0
       ..
3791    0
4672    0
426     0
1897    0
2409    0
Name: stroke, Length: 1022, dtype: int64

...Predicted_Result...
[0 0 0 ... 0 0 0]

...Y_test Comparision...
821     0
4072    0
2509    0
1952    0
1061    0
       ..
3791    0
4672    0
426     0
1897    0
2409    0
Name: stroke, Length: 1022, dtype: int64
Predicted_Accuracy: 94.9119373776908

C:\Users\chand\AppData\Local\Temp\ipykernel_11824\981930681.py:20: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  inp=data.drop(['stroke','id'],'columns')
D:\Anaconda\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(